/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    background-color: #e6e6e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.branco {
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}

/* Header */
.header {
    background-color: blue;
    padding: 15px;
    text-align: center;
}

h1 {
    color: white;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Posts */
.posts {
    width: 100%;
    max-width: 660px;
    background-color: white;
    float: left;
    border-radius: 10px;
}

.post {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

h2 {
    color: blue;
}

.data-post {
    font-size: 0.8em;
    margin-bottom: 15px;
    display: block;
}

.post img {
    width: 100%; /* Garante que as imagens fiquem 100% do tamanho disponível */
    border-radius: 10px;
}

.post p {
    margin: 10px 0;
}

/* Barra lateral */
.barra-lateral {
    width: 100%;
    max-width: 240px;
    float: right;
}

.conteudo-lateral {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.conteudo-lateral h3 {
    background-color: blue;
    color: white;
    padding: 5px;
}

.post-destaque {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    border-radius: 10px;
}

.post-destaque:last-child {
    border: none;
}

/* Footer */
.footer {
    clear: both;
    background-color: blue;
    padding: 15px;
}

.footer p {
    color: white;
    text-align: center;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .posts, .barra-lateral {
        width: 100%;
        float: none;
    }

    .container {
        padding: 10px;
    }

    .header h1 {
        font-size: 1.2em; /* Ajuste do tamanho da fonte do título */
    }

    .post img {
        width: 100%;
    }
}

/* Responsividade para celulares (menos de 480px) */
@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .footer {
        padding: 10px;
    }

    .header h1 {
        font-size: 1.5em;
    }

    .post h2 {
        font-size: 1.2em;
    }

    .data-post {
        font-size: 0.7em;
    }

    .post-destaque {
        font-size: 0.7em;
    }

    .container {
        padding: 5px;
    }
}
